NEXT_PUBLIC_GA_MEASUREMENT_ID=G-QZN254PKX5
NEXT_PUBLIC_META_PIXEL_ID=2827388787606575
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=noreply@qutb.studio
NEXT_PUBLIC_SUPPORT_WHATSAPP=20XXXXXXXXXX
ADMIN_PASSWORD=01141140594a
EARLY_ACCESS_ACTIVE=false
DROP_MODE_ACTIVE=false
ANNOUNCEMENT_TEXT=QUTB — ERA 99 — DROP 001 — ALEXANDRIA
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/qutb
